/* You can add global styles to this file, and also import other style files */

@import 'media.sass'
@import 'colors.sass'

body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

.container
  width: 100%
  padding-right: 16px
  padding-left: 16px
  margin-right: auto
  margin-left: auto
  flex-wrap: wrap

.grid-container
  display: grid

mat-card
  box-sizing: border-box

.mat-raised-button
  &.mat-primary
    background-color: $primary
    &:hover
      background-color: $primary-light

.mat-flat-button
  &.mat-accent
    background-color: $green
    &:hover
      background-color: lighten($green, 10%)

.btn-block
  width: 100%

.mat-table
  .mat-row
    height: 58px

app-table, app-user-table
  height: calc(100vh - 400px)
  overflow-y: auto
  display: block
  min-height: 340px

  +tablet
    min-height: 290px
    max-height: 297px

@include mobile
  .container
    max-width: 540px

@include tablet-portrait
  .container
    max-width: 720px

@include tablet-landscape
  .container
    max-width: 960px

@include desktop
  .container
    max-width: 1140px
