.dropzone {
    width: 100%;
    height: 200px;
    text-align: center;
    border: dashed 1px $border-gray;
    position: relative;
    margin: 0 auto;
    background-color: lightgray;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      color: black;
      width: 183px;
      height: 44px;
      padding: 8px;
    }
  
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: black;
    }
  }
  