.dropzone {
    width: 100%;
    height: 200px;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
    background-color: lightgray;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      color: black;
      width: 183px;
      height: 44px;
      padding: 8px;
    }
  
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }
  
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .files-list {
    margin-top: 1.5rem;
  
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
  
      img.delete {
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
  
  
      display: flex;
      flex-grow: 1;
  
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
  
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
  
      .info {
        width: 100%
      }
    }
  }
  