<div class="app-user-list">
  <div class="table-header-container">
    <h3>Users</h3>
    <form>
      <input
        matInput
        type="text"
        class="search-input"
        [(ngModel)]="search"
        placeholder="search"
        [ngModelOptions]="{standalone: true}">
      <i class="material-icons">search</i>
    </form>
  </div>
  <app-spinner *ngIf="isLoading$ | async"></app-spinner>
  <app-user-table
    class="app-table"
    [isLoading$]="isLoading$"
    [userRole]="userRole$ | async"
    [currentUserId]="currentUserId$ | async"
    [tableConfig]="tableConfig$ | userTableFilter:search | async"
    [availableRoles$]="availableRoles$"
    (changeRow)="onChange($event)"
    (deleteUser)="onDelete($event)">
  </app-user-table>
  <div class="card-single-action-container" *ngIf="userRole$ | async as userRole">
    <button *ngIf="userRole !== 'USER'" mat-button color="primary" (click)="onInviteUser();">ADD</button>
  </div>
</div>
