.app-user-list
  position: relative

  app-spinner
    position: absolute
    left: 40%

.table-header-container
  display: flex
  flex-direction: row
  justify-content: space-between
  .search
    max-width: 400px
    width: 100%
    // TODO: fix workaround below
    .mat-form-field-wrapper
      padding-top: 0
app-user-table
  min-height: 510px

mat-form-field
  margin-top: -25px