<div class="app-user-list">
  <div class="table-header-container">
    <h3>Users</h3>
    <form>
      <input matInput type="text" class="search-input" [(ngModel)]="search" placeholder="search" [ngModelOptions]="{standalone: true}">
      <i class="material-icons">
        search
      </i>
    </form>
  </div>
  <app-spinner *ngIf="isLoading$ | async"></app-spinner>
  <app-user-table class="app-table" [isLoading$]="isLoading$"
    [tableConfig]="tableConfig$ | userTableFilter:search | async" [availableRoles$]="availableRoles$"
    (changeRow)="onChange($event)"></app-user-table>
  <div class="button-container">
    <button mat-button color="primary" (click)="onInviteUser();">ADD</button>
  </div>
</div>