<div class="app-user-list">
  <h2>List of available users</h2>
  <app-spinner [isVisible$]="isLoading$"></app-spinner>
  <mat-form-field class="search">
    <input matInput type="text" class="search-input" [(ngModel)]="search" placeholder="search">
  </mat-form-field>
  <app-user-table [isLoading$]="isLoading$" [tableConfig]="tableConfig$ | userTableFilter:search | async" [availableRoles$]="availableRoles$" (onChange)="onChange($event)"></app-user-table>
</div>
<app-invite-user (onChange)="onInviteUser($event)" [options$]="availableEmails$"></app-invite-user>

