attrs==20.2.0
cached-property==1.5.2
colour==0.1.5
flasgger==0.9.5
Flask==1.1.2
itsdangerous==2.0.1 # itsdangerous is a Flask dependency, update it with Flask
jinja2<3.1.0 # jinja2 is a Flask dependency, update it with Flask
gdown~=4.5.4
Werkzeug==1.0.1
PyYAML==5.4.1

# tests
mock
pytest
pytest-mock
requests
pylama

# dependencies for both scanner backends
Pillow==8.3.2
imagecodecs==2021.7.30
numpy~=1.23.5
scipy~=1.10.1
opencv-python==4.7.0.72
scikit-learn==1.0.2
scikit-image==0.19.3
joblib~=1.2.0
tensorflow==2.9.3
tf-slim~=1.1.0
cloud-tpu-client

# web server
uWSGI==2.0.20

# for successful import with tensorflow
mtcnn==0.1.1