.application-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .name-wrapper,
  .api-key-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_left-coll {
    width: 49%;
  }

  &_right-coll {
    width: 49%;
    display: flex;
    justify-content: flex-end;
  }
}
