<div class="application-header">
  <app-spinner *ngIf="loading$ | async"></app-spinner>
  <mat-card class="application-header_left-coll">
    <div *ngIf="app$ | async as app">
      <h3 class="title">Application</h3>
      <div class="name-wrapper">
        <div class="name-item">{{app.name}}</div>
        <button mat-button type="submit" color="primary" (click)="rename()">EDIT</button>
      </div>
      <div class="api-key-wrapper">
        <div class="api-key-item">{{app.apiKey}}</div>
        <button mat-button type="submit" color="primary" (click)="copy()">COPY</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="application-header_right-coll" *ngIf="userRole$ | async as userRole">
    <div class="your_role">Your role: {{userRole}}</div>
  </mat-card>
</div>
