.application-header
  display: flex
  justify-content: space-between

  .name-wrapper,
  .api-key-wrapper
    display: flex
    align-items: center
    justify-content: space-between

  &_left-coll
    width: 49%

  &_right-coll
    width: 49%
    display: flex
    align-items: center
    justify-content: flex-end
