<table *ngIf="!(isLoading$ | async)" mat-table [dataSource]="data">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> App Title </th>
    <td mat-cell *matCellDef="let element" > {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef> Owner </th>
    <td mat-cell *matCellDef="let element" > {{element.owner.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="shareMode">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select [(value)]="element.shareMode" (selectionChange)="change(element)">
          <mat-option *ngFor="let role of (availableRoles$ | async)" value="{{role}}">{{role}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="deleteAccess">
    <th mat-header-cell *matHeaderCellDef> Delete access </th>
    <td mat-cell *matCellDef="let element">
      <button class="mat-primary" mat-button (click)="onDelete(element)" *ngIf="element.shareMode !== 'NONE'">DELETE</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
