<table *ngIf="!(isLoading$ | async)" mat-table [dataSource]="data">
  <!-- Position Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td mat-cell *matCellDef="let element" > {{element.firstName}} {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select *ngIf="(isRoleChangeAllowed(element.role) | async) else disabledRole" [(value)]="element.role" (selectionChange)="change(element)">
          <mat-option *ngFor="let role of (availableRoles$ | async)" value="{{role}}">{{role}}</mat-option>
        </mat-select>
        <ng-template #disabledRole>
          <mat-select disabled [(value)]="element.role">
            <mat-option value="{{element.role}}">{{element.role}}</mat-option>
          </mat-select>
        </ng-template>
      </mat-form-field>
  </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" >
      <mat-icon *ngIf="element.userId !== this.currentUserId && element.role !== 'OWNER'"
        (click)="delete(element)" title="remove user">delete_outline</mat-icon>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
