<div class="statistics-container">
  <ng-container *ngIf="statistics[0].createdDate; else noData">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="labels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="false"
      [chartType]="'line'"
    >
    </canvas>
  </ng-container>

  <!-- <ng-template #noData>
    <p class="err-msg">
      {{ 'models.statistics_data_msg' | translate }}
    </p>
  </ng-template> -->
</div>
