<div class="container app-page">
  <div class="navigation">
    <span routerLink="../">Homepage / </span>
    <span routerLink="../manage-collection">Collection manager </span>
  </div>
  <div class="grid-container">
    <mat-card class="card-left">
      <app-collection-manager-subject-left></app-collection-manager-subject-left>
    </mat-card>
    <mat-card class="card-right">
      <app-collection-manager-subject-right></app-collection-manager-subject-right>
    </mat-card>
  </div>
</div>
<!--<app-create-dialog></app-create-dialog>-->