@import "colors.sass"
.application-list
  .spinner-container
    width: 50%
    .mat-spinner
      margin-left: 20%

.add-application-button-container button
  cursor: pointer
  background: none
  border: none
  font-weight: 700
  font-size: 1.5em
  padding-top: 20px
  &:after
    content: '+'
    padding-left: 5px
