@import 'colors.sass'

.application-list
  position: relative
  app-spinner
    position: absolute
    left: 40%
.button-container
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-top: 20px
