<div *ngIf="org$ | async as org" class="breadcrumbs">
  <a class="breadcrumbs-link" [routerLink]="[ROUTERS_URL.ORGANIZATION, org.id]">{{org.name}}</a>
  <div class="separator"> / </div>
  <a class="breadcrumbs-link" *ngIf="(routeModel$ | async) && ( app$ | async) as app"
     [routerLink]="[ROUTERS_URL.APPLICATION]"
     [queryParams]="{ org: org.id, app: app.id}">
      Application: {{app.name}}
  </a>
  <div class="breadcrumbs-link" *ngIf="!(routeModel$ | async) && (app$ | async)"> Application</div>
  <div class="separator"> / </div>
  <div class="breadcrumbs-link" *ngIf="(routeModel$ | async)"> Model</div>
</div>

