<mat-card class="sign-up-card">
  <mat-card-header>
    <mat-card-title>Sign up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="sign-up-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="sign-up-full-width">
        <input matInput placeholder="Username" formControlName="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <input matInput placeholder="Email" formControlName="email" name="email" type="email" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" name="confirmPassword" required>
      </mat-form-field>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <a [routerLink]="['/login']">login</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary">Sign up</button>
  </mat-card-actions>
</mat-card>
