@import 'media.scss';

.grid-container {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;

  .edit_button {
    margin-right: auto;
  }
}

.organization-header_left-coll {
  width: 49%;
}

.organization-header_right-coll {
  text-align: right;
  width: 49%;
}

.mat-raised-button {
  margin: 15px 0;
}

@include mobile {
  .organization-header_left-coll {
    flex-direction: column;
  }


  .grid-container {
    grid-template-columns: 1fr;
  }


  @include tablet-portrait {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
}
