<div class="organization-header">
  <div class="organization-header_left-coll">
    <div *ngIf="organizations$ | async as organizations">
      <app-entity-title
        [entityName]="'Organization'"
        [selectId$]="selectedId$"
        [options]="organizations"
        (selectIdChange)="selectOrganization($event)"
        [renameDisable]="false"
        (rename)="rename($event)"></app-entity-title>
    </div>

    <button mat-raised-button
            type="submit"
            color="primary"
            (click)="createNew()"
    >Create New Organization
    </button>
  </div>

  <div class="organization-header_right-coll" *ngIf="userRole$ | async as userRole">
    <div class="your_role">Your role: {{userRole}}</div>
  </div>
</div>
