<div *ngIf="organizations$ | async as organizations">
  <app-entity-title [options]="organizations"></app-entity-title>
</div>


{{selected$ | async}}
<!--<div *ngIf="selected$ | async as selected">-->
<!--  <app-entity-title [options]="organizations"></app-entity-title>-->
<!--</div>-->



<button mat-raised-button
        type="submit"
        color="primary"
        (click)="createNew()"
  >Create New Organization</button>

<button (click)="select('ksdfklsn1111111')">select</button>
<!--<div class="your_role">{{role}}</div>-->
