<mat-card class="user-list">
  <h2>Users</h2>
  <mat-form-field class="search">
    <input matInput type="text" class="search-input" [(ngModel)]="search" placeholder="search">
  </mat-form-field>
  <app-spinner *ngIf="isLoading$ | async"></app-spinner>
  <app-user-table [isLoading$]="isLoading$" [tableConfig]="tableConfig$ | userTableFilter:search | async"
                  [availableRoles$]="availableRoles$"
                  (changeRow)="onChange($event)"></app-user-table>
  <app-invite-user (email)="onInviteUser($event)"></app-invite-user>
</mat-card >
