<table *ngIf="!(isLoading$ | async)" mat-table [dataSource]="data">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="apiKey">
    <th mat-header-cell *matHeaderCellDef>API key</th>
    <td mat-cell *matCellDef="let element"> {{element.apiKey}}
      <button mat-icon-button (click)="copyApiKey.emit(element.apiKey)">
        <mat-icon>content_copy</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="userRole !== 'USER'">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="model actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit.emit(element)">
            <span>EDIT</span>
          </button>
          <button mat-menu-item (click)="delete.emit(element)">
            <span>DELETE</span>
          </button>
        </mat-menu>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
