@import 'media.scss';
@import 'colors.scss';

.container {
  height: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px auto;
  background-color: $super-light-gray;
  border: 1px solid black;

  .header-container {
    width: 100%;

    @include mobile {
      height: auto;
    }
  }
}

.test-model-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 650px;

  .test-model-loader {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
}
