<div class="main">
  <div class="add-subject">
    <button mat-flat-button color="primary"  (click)="openModalWindow()">
      {{ 'manage_collection.left_side.add_subject' | translate }}
    </button>
  </div>
  <div class="search">
    <app-search-table searchPlaceholder="{{'manage_collection.left_side.search' | translate}}"></app-search-table>
  </div>
  <div class="subjects">
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe" class="section">
          <div class="avatar">
            <mat-icon svgIcon="avatar-subject"></mat-icon>
            <div class="name">
              {{shoe}}
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
  </div>
</div>
