<div class="model-header">
  <app-spinner *ngIf="loading$ | async"></app-spinner>
  <mat-card  class="model-header_left-coll" *ngIf="!(loading$ | async) && (model$ | async) as model">
    <h3 class="title">Model</h3>
    <div class="name-wrapper">
      <div class="name-item">{{model.name}}</div>
      <button *ngIf="(userRole$ | async) === 'OWNER'" mat-button type="submit" color="primary" (click)="delete()">DELETE</button>
      <button mat-button type="submit" color="primary" (click)="rename()">EDIT</button>
    </div>
    <div class="api-key-wrapper">
      <div class="api-key-item">API-KEY: {{model.apiKey}}</div>
      <button mat-button type="submit" color="primary" (click)="copy()">COPY</button>
    </div>
  </mat-card>
  <mat-card class="model-header_right-coll" *ngIf="userRole$ | async as userRole">
    <div class="your_role">Your role: {{userRole}}</div>
  </mat-card>
</div>
