@import 'media.scss';

.model-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .name-wrapper,
  .api-key-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name-item {
    flex: 1;
  }
}

.model-header_left-coll {
  width: 49%;
}


.model-header_right-coll {
  text-align: right;
  width: 49%;
}

@include mobile {
  .model-header_left-coll {
    flex-direction: column;
  }
}
