<div class="container app-page no-organisations">
  <div class="message">
    <div class="body">
      <div class="icon">
        <mat-icon aria-hidden="false">info</mat-icon>
      </div>
      <div class="description">
        The first step in using face recognition service is to create an organization. An organization is where you can create and manage applications, models. An organization also allow you to add and manage users into the organization.
      </div>
    </div>
    <div class="footer">
      <button mat-raised-button color="primary" (click)="openDialog()">CREATE</button>
    </div>
  </div>
</div>
