@import 'media.sass'

:host
  display: block

.container
  height: 100%
  min-height: 650px
  display: flex
  flex-direction: column
  flex-wrap: nowrap

  +mobile
    height: auto

  app-organization-header
    padding-top: 20px
    margin-bottom: 40px
    width: 100%

.grid-container
  display: flex
  justify-content: space-between
  mat-card
    width: 49%
    transform: perspective(1px)

  app-application-list-container, app-user-list-container
    display: flex
    flex-direction: column
    justify-content: space-between
