@import 'media.sass'

:host
  display: block
  height: calc( 100% - 80px)

.mat-card
  min-height: 650px
  display: flex
  height: 100%
  flex-direction: column

  +mobile
    height: auto

  app-organization-header
    margin-bottom: 40px
    width: 100%

.grid-container
  flex-grow: 1
  display: flex

  app-application-list-container, app-user-list-container
    display: flex
    flex-direction: column
    justify-content: space-between

@include mobile
  .grid-container
