@import "colors.scss";

.logo {
  margin-bottom: 40px;
  margin-top: -50px;
  text-align: center;
}

.mat-card-header {
  // workaround: mat-card-header-text can not be selected (
  margin-left: -16px;
}

.sign-up {
  &-full-width {
    width: 100%;
    margin-bottom: 10px;
  }
}

.alert-danger {
  background-color: $red;
  color: $white;
  padding: 10px;
  margin-bottom: 10px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}
