<div class="logo">
  <img src="assets/img/logo.png" alt="">
</div>
<mat-card class="sign-up-card">
  <mat-card-header>
    <mat-card-title>Sign up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="sign-up-form" [formGroup]="form" (ngSubmit)="onSubmit()" id="signUpForm">
      <mat-form-field class="sign-up-full-width">
        <mat-error>First name is required</mat-error>
        <input matInput placeholder="First Name" formControlName="firstName" name="firstName" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <mat-error>Last name is required</mat-error>
        <input matInput placeholder="Last Name" formControlName="lastName" name="lastName" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <mat-error>Email should have correct format</mat-error>
        <input matInput placeholder="Email" formControlName="email" name="email" type="email" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <mat-hint>Minimum 8 characters</mat-hint>
        <mat-error>Minimum 8 characters required</mat-error>
        <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
      </mat-form-field>
      <mat-form-field class="sign-up-full-width">
        <mat-hint>Minimum 8 characters</mat-hint>
        <mat-error>Minimum 8 characters required</mat-error>
        <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" name="confirmPassword" required>
      </mat-form-field>
      <mat-error *ngIf="form.errors?.passwordMismatch && !form.get('confirmPassword').errors?.minlength">Passwords don't match</mat-error>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" [routerLink]="[ROUTERS_URL.LOGIN]">LOGIN</button>
    <button mat-button type="submit"
            form="signUpForm"
            color="primary"
            [disabled]="form.invalid  || isLoading">SIGN UP</button>
  </mat-card-actions>
</mat-card>
