@import 'media.sass'

.mat-card
  min-height: 650px
  height: calc(100vh - 80px)
  display: flex
  flex-direction: column

  .header-container
    width: 100%

  +mobile
    height: auto

  app-application-header
    margin-bottom: 40px

.grid-container
  flex-grow: 1
  display: flex

  app-model-list, application-user-list
    width: 50%
    display: flex
    flex-direction: column
    justify-content: space-between

@include mobile
  .grid-container
