@import 'media.sass'

.mat-card
  min-height: 650px
  height: calc( 100% - 134px)
  margin-bottom: 20px
  display: flex
  flex-direction: column

  .header-container
    width: 100%

    +mobile
    height: auto

  app-application-header
    margin-bottom: 40px

.grid-container
  display: flex
  justify-content: space-between
  mat-card
    width: 49%

  app-model-list, app-application-user-list
    display: flex
    flex-direction: column
    justify-content: space-between
