on:
  push:
    branches: ['master']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push images to Docker Hub
        run: |
          docker pull hello-world
          docker tag hello-world:latest ghcr.io/exadel-inc/compreface/hello-docker-gcr-demo:latest
          docker push ghcr.io/exadel-inc/compreface/hello-docker-gcr-demo:latest
                     
