<mat-toolbar>
  <mat-toolbar-row class="container">
    <a class="logo" [routerLink]="'/'">
      <img src="assets/img/logo.png" alt="">
    </a>
    <span class="avatar-wrapper">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img [src]="userAvatarInfo$ | async"/>
      </button>
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>User Name</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
