<div class="face-result">
  <div class="recognition-loading" *ngIf="pending$ | async">
    <app-spinner></app-spinner>
  </div>

  <app-verification-result
    [processFile]="processFile$ | async"
    [checkFile]="checkFile$ | async"
    [pending]="pending$ | async"
    [isLoaded]="isLoaded$ | async"
    [requestInfo]="requestInfo$ | async"
    [printData]="data$ | async"
    (selectProcessFile)="processFileUpload($event)"
    (selectCheckFile)="checkFileUpload($event)"
  >
  </app-verification-result>
</div>
